h1{
	color:white;
	padding:20px;
	text-align:center;
	background-color:#dba0c5;
}

p{
	color:#3b2822;
	background-color:#facfea;
	text-align:center;
	padding:20px;
	font-size:20px;
}

a{
	color:#3b2822;

}

hex{
	background-color:white;
}